@use 'sass:math';

$g-spacings: (
  normal: rem(14px),
  small: rem(10px),
  xsmall: rem(8px),
  xxsmall: rem(5px),
  medium: rem(24px),
  large: rem(28px),
  xlarge: rem(36px),
  xxlarge: rem(44px),
  xxxlarge: rem(66px),
) !default;
