// Spacing
.w-limited {
  @include by-breakpoint(max-width, $container-max-widths);
  @include padding-horizontal(spacing(xsmall));
  @include margin-horizontal(auto);
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.h-none {
  height: none;
}

.w-none {
  width: none;
}

// Display
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex-inline-flex {
  display: inline-flex;
}

// Flex
.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

// Flex Direciton
.f-dir-row {
  flex-direction: row;
}

.f-dir-row-rev {
  flex-direction: row-reverse;
}

.f-dir-col {
  flex-direction: column;
}

.f-dir-col-rev {
  flex-direction: column-reverse;
}

// Align
.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

// Justify
.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

// Margin
.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

// Padding
.p-0 {
  padding: 0;
}

.p-auto {
  padding: auto;
}

// Font Weight
.font-thin {
  font-weight: 100;
}

.font-extra-light {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extra-bold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

// Text Align
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// Opacity
.opacity-75 {
  opacity: 0.75;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-0 {
  opacity: 0;
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

// Overflow
.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-visible {
  overflow-x: visible;
  overflow-y: hidden;
}

.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}

.btn-clean {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

// Fill
%fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.absolute-fill {
  @extend %fill;

  position: absolute;
}

.fixed-fill {
  @extend %fill;

  position: fixed;
}
