@import '../../../styles';

.c-step-card {
  &__left {
    flex: 1;
    font-size: rem(24px);
    font-weight: 700;

    h4 {
      margin-bottom: spacing(xsmall);
    }

    p {
      color: $g-colors-text-strong;
      font-size: rem(16px);
      font-weight: 400;
    }
  }

  &__right {
    display: flex;
    gap: spacing(xxsmall);
    flex-direction: column;
  }
}
