html {
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: radial-gradient(
    circle at 25% 30%,
    rgba(31, 40, 91, 1) 0%,
    rgba(18, 28, 50, 1) 54%,
    rgba(41, 26, 75, 1) 100%
  );
  overflow-x: hidden;
}
